<html>

<head>
<title>HAVP - Access Denied</title><style DEFANGED_type="text/css">
<!--
.style1 {
	color: #00FFFF;
	font-weight: bold;
}
-->
</style>
</head>

<body bgcolor=#FFFFFF>


<table width=700 height=540 border=0 align="center" cellpadding=2 cellspacing=0>
<tr bgcolor="#FF6600">
	<td height=100 colspan=2 align=center>
	<font face=arial,helvetica size=6><strong>HAVP - Acceso denegado</strong></font></td>
</tr>
<tr>
	<td align=center valign=bottom width=150 bgcolor=#000066>&nbsp;	</td>
	<td width=550 bgcolor=#FFFFFF align=center valign=center>
	<font face=arial,helvetica color=black size=4>
		<br> El acceso a la pagina ha sido denegado<br>
        <br> porque se encontr&oacute; el virus siguiente<br>
	    <br>	
	    <br>
	    <font color=red>
	    <b><!--message--></b>
		</font></font>
	    <br>
	    <br>
	    <br>
	</td>
</tr>
<tr>
  <td align=center valign=middle bgcolor=#000066><DEFANGED_span class="style1"><font face=arial,helvetica size=2 >Su compa&ntilde;&iacute;a aqu&iacute;</font></DEFANGED_span> </td>
  <td bgcolor=#FFFFFF align=center valign=middle><font face=arial,helvetica size=2> Powered by <a href="http://www.server-side.de" target="_blank">HAVP</a> </font> </td>
</tr>
</table>

</body>

</html>

