<html>

<head>
<title>HAVP - Interne fout</title>
<style type="text/css">
<!--
.style1 {
	color: #00FFFF;
	font-weight: bold;
}
-->
</style>
</head>

<body bgcolor=#FFFFFF>

<table width=700 height=540 border=0 align="center" cellpadding=2 cellspacing=0>
<tr bgcolor="#CCCCCC">
	<td height=100 colspan=2 align=center>
	<font face=arial,helvetica size=6><strong>HAVP - Interner fout</strong></font></td>
</tr>
<tr>
	<td align=center valign=bottom width=150 bgcolor=#000066>&nbsp;	</td>
	<td width=550 bgcolor=#FFFFFF align=center valign=center>	
	<font face=arial,helvetica size=4>
	HAVP<br>
	<br>
	<br>
	Er is een interne HAVP-fout <br>
	opgetreden bij het scannen van de webpagina
	<br>
	<br>	<br>	
	<br>
	<br>	<br>
	<font color=red>
	<b><!--message--></b>
	</font>
	<font color=black>
	<br>
	Voor vragen neem contact op met uw systeemadministrator</font></font><br>
	<br>	
  </td>
</tr>
<tr>
  <td align=center valign=middle bgcolor=#000066><span class="style1"><font face=arial,helvetica size=2> Ihr
        bedrijfsnaam </font></span></td>
  <td bgcolor=#FFFFFF align=center valign=middle><font face=arial,helvetica size=2> Powered by <a href="http://www.server-side.de" target="_blank">HAVP</a> </font> </td>
</tr>
</table>

</body>

</html>

