#
# This is the configuration file for HAVP
# 
# All lines starting with a hash (#) or empty lines are ignored.
# All parameters configurable in this file are explained
# and their default values are shown. (If no default value is 
# defined "None" is specified!)
#
# Change things to fit to your environment!
# 
# General syntax:  Parameter Value    
# 		(there are one or more blanks or tabs in between!
#		No whitespace characters at the end of line!)
# 	Parameter: a key word typed with any kind of characters
#      		     (e.g. GROUP, group, Group, GrOuP)
# 	Value: true/false, integer value, or path to file
# 		(No character translation at all)
#

#
# For reasons of security it is recommended to run a proxy program
# without root rights. If you have a virus scanner or http-proxy running under
# a special user id it is perhaps a good choice to use this id.
#
# Default:
# USER	nobody
# GROUP	nogroup

#
# The process id (PID) of the main HAVP process is written to this file.
# Be sure that it is writeable by the user under which HAVP is running. 
# If this file does not exist or is not writeable by HAVP a error message
# is issued but HAVP is still working. This file is mandatory for using
# the rc-script /etc/init.d/havp. PIDFILE will be allocated by this script and
# owner and group will be adopted by this script using havp.config file 
# defined in this script.
#
# Default:
# PIDFILE /var/run/havp/havp.pid

#
# For performance reasons several instances of HAVP have to run.
# Specify how many servers are simultaniously listening on port PORT
# for a connection. This number should not be morw than expected
# maximum reqs/s
#
# Default:
# SERVERNUMBER 4

# For big traffic spikes, childs will be automatically created more
# if needed. This is the absolute maximum that can be running. Should
# not probably be over 150, unless you have _very_ fast server."
#
# Default:
# MAXSERVERS 150

#
# File name for logging accessed http-pages.
#
# Default:
# ACCESSLOG /var/log/havp/access.log

#
# File name for logging messages (not only errors!)
#
# Default:
# ERRORLOG /var/log/havp/havp.log

#
# Temporary scan file name
# This file must reside on a partition for which hard locks
# are enabled (so called mandatory locking). Use -o mand in 
# the mount command. See mount(1) for details.
# Specify the absolut path to a file which name must end
# with six arbitrary characters. These six characters are
# overwritten by system call to make the file name unique.
#
# Default:
# SCANTEMPFILE /var/tmp/havp/havp-XXXXXX

#
# HAVP reloads the clamav database by receiving a signal
# (send SIGHUP to PID from PIDFILE, see kill(1)) or after
# a specified period of time. Specify here the number of
# minutes to wait for reloading.
#
# Default:
# DBRELOAD 60 

#
# If this is true HAVP is running as daemon in background.
# For testing you may run HAVP at your text console.
#
# Default:
# DAEMON true

#
# Run HAVP as transparent Proxy.
# If you don't know what this means read the mini-howto
# TransparentProxy written by Daniel Kiracofe.
# (e.g.: http://www.tldp.org/HOWTO/mini/TransparentProxy.html)
# Definitly you have more to do than setting this to true.
# You are warned!
#
# Default:
# TRANSPARENT false

#
# Specify a parent proxy (e.g. squid) HAVP should use.
#
# Default: None
# PARENTPROXY localhost
# PARENTPORT 3128

#
# Write Log on clean files
#
# Default:
# LOG_OKS true

#
# Write X-Forwarded-For to log instead of connecters IP
# This allows to write the squid user IP instead of the
# squid IP (if havp is used as parent proxy for squid)
#
# Default:
# FORWARDED_IP false

#
# Port HAVP is listening on
#
# Default:
# PORT 8080

#
# Address to bind to for listening
# NULL for any, 127.0.0.1 for local, or specific address
#
# Default:
# BIND_ADDRESS NULL

#
# Source IP address to be used for sending away packages.
# Define for using it. Let it undefined if you want the OS
# to choose the source address.
#
# Default: None
# SOURCE_ADDRESS 127.0.0.1

#
# Display initial messages
#
# Default:
# DISPLAYINITIALMESSAGES true

#
# Path to template files
# Following languages are supported:
# en, de, it
#
# Default:
# TEMPLATEPATH /usr/local/etc/havp/templates/en

#
# Whitelist files
# URL which won't be scanned
#
# Default:
# WHITELIST /usr/local/etc/havp/whitelist

#
# Blacklist files
# URL which are denied
#
# Default:
# BLACKLIST /usr/local/etc/havp/blacklist

#
# Max size of downloads which were scanned
# 0 = No size limit, all files are scanned
#
# Default:
# MAXSCANSIZE 0


#
# KEEPBACKBUFFER download which is hold back until
# virus scan was successful
#
# Default:
# KEEPBACKBUFFER 25000

#
# After Trickling Time (s) some bytes are send to the browser
# to keep connection to the browser alive
# Trickling is not need if you don't expect browser timeouts
# while downloading the size of HOLDBACK 
# 0 = No Trickling
#
# Default:
# TRICKLING 0


# Configuration for F-Prot Scanner
# Only if F-Prot is enabled!
#
# FPROTSERVER 127.0.0.1
# FPROTPORT 10200

# Configuration for Kaspersky
# Only if Kaspersky is enabled!
#
#
# AVECLIENT /usr/local/bin/aveclient
# AVESOCKET /var/run/aveserver

